@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Nottingham University</h1>
</div>
<div class="row">
    
    <div class="col-sm-12  banner-image-home">
        <img src="~/images/contoso-university-building.jpeg" alt="university building" />
    </div>
</div>
